<nav class="navbar navbar-expand-lg pt-0">
  <div class="container-fluid px-5 py-2 bg-info-subtle border-bottom shadow-sm">
    <a class="navbar-brand" href="/">Planur</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form action="/" method="GET">
            <% if (user.id) { %>
              <a class="nav-link active" aria-current="page" href="/users/<%= user.id %>">Dashboard</a>
            <% } %>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.com/travel/flights?hl=en-US">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="https://www.kayak.com/hotels?r9ck=iq&gclid=CjwKCAjw3dCnBhBCEiwAVvLcu4d1_WsTM767iVmxYzaY56AsKzMDNv07eWY1mjxxL_rVka0i3tJ9wBoCqLwQAvD_BwE">Stays</a>
        </li>
      </ul>
    </div>
  </div>
</nav>