<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head_partial.ejs') %>
<body class="container d-flex flex-row">
  <div class="container shadow-lg p-0 mb-5 bg-white rounded">
    <%- include('./partials/nav_partial.ejs') %>
    <div id="form-container" class="container text-left py-5">
      <div id="header-container" class="text-center">
        <h1 class="my-0">Plan Your Next Trip</h1>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="destination">Destination</label>
          <input type="text" class="form-control" id="destination" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Destination is required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="dates">Dates</label>
          <input type="text" class="form-control" id="dates" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Dates is required.
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label for="guests">Guests</label>
          <input type="text" class="form-control" id="guests" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Guests is required.
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label for="reason">Reason</label>
          <input type="text" class="form-control" id="reason" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Reason is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="transportation">Transportation</label>
          <input type="text" class="form-control" id="transportation" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Transportation is required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="accommodation">Accommodation</label>
          <input type="text" class="form-control" id="accommodation" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Accommodation is required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid Address is required.
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control text-center" id="firstName" placeholder="What Do You Need To Bring?" value="" required="">
          <div class="invalid-feedback">
            Valid Transportation is required.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>