<!-- add packingLists modal trigger -->
<section class="bg-light align-self-baseline">
  <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#add-packingLists-details-modal">
    Add Packing List
  </a>
</section>
<!-- add-packingLists-details modal -->
<div class="modal fade" id="add-packingLists-details-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"> Add Packing Lists</h5>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <form action="/users/<%= user.id %>/trips/<%= trip.id %>/packLists" method="POST">
            <div class="d-flex flex-column">
              
              <!-- Clothes Check List -->
              <div id="clothesCheckList" class="border rounded mb-3 p-2">
                <h4>Clothes</h4>
                <div class="flex-row">
                  <label class="form-check-label" for="shirts">Shirts</label>
                  <input type="checkbox" name="shirts" value="on">
                </div>
                <div class="flex-row">
                  <label class="form-check-label" for="pants">Pants</label>
                  <input type="checkbox" name="pants" value="on">
                </div>
                <div class="flex-row">
                  <label class="form-check-label" for="shorts">Shorts</label>
                  <input type="checkbox" name="shorts" value="on">
                </div>
                <div class="flex-row">
                  <label class="form-check-label" for="sweater">Sweater</label>
                  <input type="checkbox" name="sweater" value="on">
                </div>
                <div class="flex-row">
                  <label class="form-check-label" for="underwear">Underwear</label>
                  <input type="checkbox" name="underwear" value="on">
                </div>
              </div>
              
              <!-- Luggage Check List -->
              <div id="luggageCheckList" class="border rounded mb-3 p-2">
                <h4>Luggage</h4>
                  <div class="flex-row">
                    <label class="form-check-label" for="backpack">Backpack</label>
                    <input type="checkbox" name="backpack" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="carryon">Carry On</label>
                    <input type="checkbox" name="carryon" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="dufflebag">Duffle Bag</label>
                    <input type="checkbox" name="dufflebag" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="suitcase">Suitcase</label>
                    <input type="checkbox" name="suitcase" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="garmentbag">Garment Bag</label>
                    <input type="checkbox" name="garmentbag" value="on">
                  </div>
              </div>

              <!-- Toiletries Check List -->
              <div id="luggageCheckList" class="border rounded mb-3 p-2">
                <h4>Luggage</h4>
                  <div class="flex-row">
                    <label class="form-check-label" for="toothbrush">Toothbrush</label>
                    <input type="checkbox" name="toothbrush" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="toothpaste">Toothpaste</label>
                    <input type="checkbox" name="toothpaste" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="shampoo">Shampoo</label>
                    <input type="checkbox" name="shampoo" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="conditioner">Conditioner</label>
                    <input type="checkbox" name="conditioner" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="sunscreen">Sunscreen</label>
                    <input type="checkbox" name="sunscreen" value="on">
                  </div>
              </div>

              <!-- Miscellaneous Check List -->
              <div id="miscellaneousCheckList" class="border rounded mb-3 p-2">
                <h4>Miscellaneous</h4>
                  <div class="flex-row">
                    <label class="form-check-label" for="cellphone">Cellphone</label>
                    <input type="checkbox" name="cellphone" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="laptop">Laptop</label>
                    <input type="checkbox" name="laptop" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="tablet">Tablet</label>
                    <input type="checkbox" name="tablet" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="passport">Passport</label>
                    <input type="checkbox" name="passport" value="on">
                  </div>
                  <div class="flex-row">
                    <label class="form-check-label" for="medication">Medication</label>
                    <input type="checkbox" name="medication" value="on">
                  </div>
              </div>

              <button class="btn btn-success" type="submit">Add Packing Lists</button>
            </div>
            </form>
        </div>
    </div>
  </div>
</div>