<div id="toiletriesList" class="col col-lg col-sm border rounded m-2 p-2">
    <% if(Object.values(trip.packLists.toiletries).includes(true)) {%>
        <label for="toiletriesList">Toiletries:</label>
        <ul id="toiletriesList" class="ps-4 mb-0">
            <% for (const item of Object.keys(trip.packLists.toiletries)) { %>
                <% if (trip.packLists.toiletries[item] === true) { %>
                    <li class="text-capitalize"><%= item %></li>
                <% } %>
            <% } %>
        </ul>
    <% } %>
</div>