<%- include('../partials/top_body_partial.ejs') %>
    <div id="form-container" class="container text-left py-5">
      <div id="header-container" class="text-center mb-5">
        <h1 class="my-0">Plan Your Next Trip</h1>
      </div>
      <div class="container d-flex justify-content-evenly">
        <form action="/users" method="POST">
          <div class="row d-flex justify-content-evenly">
            <div class="row">
              <div class="col mb-4">
                <label for="firstName">First Name</label>
                <input name="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid First Name is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-4">
                <label for="lastName">Last Name</label>
                <input name="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid Last Name is required.
                </div>
              </div>
            </div>
            <div class="col d-flex flex-row justify-content-center">
                <button class="btn btn-sm btn-success" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
<%- include('../partials/bottom_and_footer_partial.ejs') %>